{% extends "layout.html" %}

{% block head %}
<title>Mais informações</title>
{% endblock %}

{% block content %}

<div class="slider-description">
    <!-- <img src="/assets/chef.png" alt="cooker"> -->


</div>

<div class="name-recipe">
    <h3>Triplo bacon burger</h3>
    <p>por Jorge Relato</p>
</div>

<div class="content-description">
    <div class="stuff-description">
        <h2 class="stuff-description">Ingredientes</h2>
    </div>
    
    <div class="fullStuff-description">
        <p class="stuff-button" id="ingridient-position" onclick="ingridient()">ESCONDER</p>
        <ul class="stuff-button-list" style="display: block;">
            <li>3kg de carne...</li>
            <li>300g de bacon...</li>
            <li>1 ovo</li>
            <li>3 colheres (sopa de farinha...)</li>
            <li>3 colheres (sopa) de tempero caseiro...</li>
            <li>30 ml de agua gelada...</li>
        </ul>
    </div>
    
    <div class="stuff-description">
        <h2>Modo de preparo</h2>
    </div>
    
    <div class="fullStuff-description">
        <p class="stuff-button" id="preparation-position" onclick="preparation()">ESCONDER</p>
        <div class="stuff-button-list" style="display: block;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet molestias provident facilis, itaque labore accusamus, ipsum odio quidem adipisci quos debitis mollitia deleniti. Enim itaque magnam quaerat dolor iusto. Mollitia.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quis ipsam minima aut rerum nostrum maiores quo perferendis officiis laudantium, placeat iure iusto. Debitis quaerat quos inventore pariatur eveniet voluptates?</p>
        </div>
    </div>


    <div class="stuff-description">
        <h2>Informações adicionais</h2>
    </div>

    <div class="fullStuff-description">
        <p class="stuff-button" id="extra-position" onclick="extra()">ESCONDER</p>
        <div class="stuff-button-list" style="display: block;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet molestias provident facilis, itaque labore accusamus, ipsum odio quidem adipisci quos debitis mollitia deleniti. Enim itaque magnam quaerat dolor iusto. Mollitia.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quis ipsam minima aut rerum nostrum maiores quo perferendis officiis laudantium, placeat iure iusto. Debitis quaerat quos inventore pariatur eveniet voluptates?</p>
        </div>
    </div>
</div>
{% endblock %}