{% extends "layout.html" %}
<!-- <nav>
    <a href="/recipes" class="header-about-border">Receitas</a>
</nav> -->

{% block head %}
<title>Foodfy - Melhores opções de receitas</title>
{% endblock %}

{% block content %}

<section>
    <div class="recipes">
        {% for recipe in recipes %}
        <div class="type-recipes" id="{{recipe.id}}">
            <img src="/assets/{{recipe.id}}.png" alt="triple burger bacon">
            <h3 class="whatRecipes">{{recipe.typeRecipe}}</h3>
            <p class="whatNameCreator">{{recipe.authorRecipe}}</p>
        </div>
        {% endfor %}

        {% for recipe in recipes %}
        <div class="type-recipes" id="{{recipe.id}}">
            <img src="/assets/{{recipe.id}}.png" alt="triple burger bacon">
            <h3 class="whatRecipes">{{recipe.typeRecipe}}</h3>
            <p class="whatNameCreator">{{recipe.authorRecipe}}</p>
        </div>
        {% endfor %}
    </div>        
</section>
{% endblock %}
