<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Um site de Restaurante">
        <link rel="stylesheet" href="style.css">
        <title>Foodfy - Melhores opções de receitas</title>
    </head>
    <body>
        <header>
            <nav class="header-menu">
                <a href="./index.html"><img src="../layouts/assets/logo.png" alt="logo-foodfy"></a>
                <a href="./about.html">Sobre</a>
                <a class="header-about-border" href="./recipes.html">Receitas</a>
            </nav>
        </header>

        <main>
            <section>
                <div class="recipes">
                    <div class="type-recipes" id="burger">
                        <img src="../layouts/assets/burger.png" alt="triple burger bacon">
                        <h3 class="whatRecipes">Triplo bacon burger</h3>
                        <p class="whatNameCreator">por Jorge Relato</p>
                    </div>

                    <div class="type-recipes" id="pizza">
                        <img src="../layouts/assets/pizza.png" alt="pizza quatro estacoes">
                        <h3 class="whatRecipes">Pizza 4 estações</h3>
                        <p class="whatNameCreator">por Fabiana Melo</p>
                    </div>

                    <div class="type-recipes" id="espaguete">
                        <img src="../layouts/assets/espaguete.png" alt="espaguete ao alho">
                        <h3 class="whatRecipes">Espaguete ao alho</h3>
                        <p class="whatNameCreator">por Júlia Kinoto</p>
                    </div>

                    <div class="type-recipes" id="lasanha">
                        <img src="../layouts/assets/lasanha.png" alt="lasanha mac n' cheese">
                        <h3 class="whatRecipes">Lasanha mac n' cheese</h3>
                        <p class="whatNameCreator">por Juliano Vieira</p>
                    </div>

                    <div class="type-recipes" id="doce">
                        <img src="../layouts/assets/doce.png" alt="docinhos pao do ceu">
                        <h3 class="whatRecipes">Docinhos pão-do-ceú</h3>
                        <p class="whatNameCreator">por Ricardo Golvea</p>
                    </div>

                    <div class="type-recipes" id="asinhas">
                        <img src="../layouts/assets/asinhas.png" alt="asinhas de frango ao barbecue">
                        <h3 class="whatRecipes">Asinhas de frango ao barbecue</h3>
                        <p class="whatNameCreator">por Vania Steroski</p>
                    </div>

                    <div class="type-recipes" id="burger">
                        <img src="../layouts/assets/burger.png" alt="triple burger bacon">
                        <h3 class="whatRecipes">Triplo bacon burger</h3>
                        <p class="whatNameCreator">por Jorge Relato</p>
                    </div>

                    <div class="type-recipes" id="pizza">
                        <img src="../layouts/assets/pizza.png" alt="pizza quatro estacoes">
                        <h3 class="whatRecipes">Pizza 4 estações</h3>
                        <p class="whatNameCreator">por Fabiana Melo</p>
                    </div>

                    <div class="type-recipes" id="espaguete">
                        <img src="../layouts/assets/espaguete.png" alt="espaguete ao alho">
                        <h3 class="whatRecipes">Espaguete ao alho</h3>
                        <p class="whatNameCreator">por Júlia Kinoto</p>
                    </div>

                    <div class="type-recipes" id="lasanha">
                        <img src="../layouts/assets/lasanha.png" alt="lasanha mac n' cheese">
                        <h3 class="whatRecipes">Lasanha mac n' cheese</h3>
                        <p class="whatNameCreator">por Juliano Vieira</p>
                    </div>

                    <div class="type-recipes" id="doce">
                        <img src="../layouts/assets/doce.png" alt="docinhos pao do ceu">
                        <h3 class="whatRecipes">Docinhos pão-do-ceú</h3>
                        <p class="whatNameCreator">por Ricardo Golvea</p>
                    </div>

                    <div class="type-recipes" id="asinhas">
                        <img src="../layouts/assets/asinhas.png" alt="asinhas de frango ao barbecue">
                        <h3 class="whatRecipes">Asinhas de frango ao barbecue</h3>
                        <p class="whatNameCreator">por Vania Steroski</p>
                    </div>
                </div>
            </section>
        </main>

        <span>
            <div class="modal-overlay">
                <div class="modal">

                    <div class="close-modal">
                        <img src="" alt="img-recipes">
                        <h3 class="titleRecipes"></h3>
                        <p class="nameCreator"></p>
                    </div>

                    <div class="button-close">
                        <p>Fechar modal</p>
                    </div>
                </div>
            </div>    
        </span>

        <footer>
            <p>Todos direitos reservados, receitas Foodfy</p>
        </footer>
        <script src="script.js"></script>
    </body>
</html>