{% extends "layout.html" %}

{% block head %}
<title>Mais informações</title>
{% endblock %}

{% block content %}

<div class="slider-description">
    {% for image in recipe.image %}
    <img src="{{image}}" alt="">
    {% endfor %}
</div>

<div class="name-recipe">
    {% for name in recipe %}
        <h3>{{name.title}}</h3>
        <p>{{name.author}}</p>
    {% endfor%}
</div>


<div class="content-description">
    <div class="stuff-description">
        <h2 class="stuff-description">Ingredientes</h2>
    </div>
    
    <div class="fullStuff-description">
        <p class="stuff-button" id="ingridient-position" onclick="ingridient()">ESCONDER</p>
        <ul class="stuff-button-list" style="display: block;">
            {% for ingredients in recipe.ingredients %}
                <li>{{ingredients}}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="stuff-description">
        <h2>Modo de preparo</h2>
    </div>
    
    <div class="fullStuff-description">
        <p class="stuff-button" id="preparation-position" onclick="preparation()">ESCONDER</p>
        <ul class="stuff-button-list" style="display: block;">
            {% for preparation in recipe.preparation %}
                <li>{{preparation}}</li>
            {% endfor %}
        </ul>
    </div>


    <div class="stuff-description">
        <h2>Informações adicionais</h2>
    </div>

    <div class="fullStuff-description">
        <p class="stuff-button" id="extra-position" onclick="extra()">ESCONDER</p>
        <div class="stuff-button-list" style="display: block;">
            <!-- {% for information in item.information %}
                <p>{{information}}</p>
            {% endfor %} -->
        </div>
    </div>
</div>
{% endblock %}